
.Encabezado{
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    align-items:center ;
    padding: 10px;
    text-align: center;
}
.buscador{
    display: flex;
   justify-content: space-around;
   width: 600px;

}
h1{
    margin-right: 50px; 
}

a {
    text-decoration: none;
    padding-right: 10px;
    color: black;
}
.elementos ul{
    list-style: none;
}
 .elementos ul li {
    display: inline-block;
    align-items: center;
    margin-top: 6px;
  
 }
.barralateral{
    text-align: center; 
    margin-top: auto;
   
}
body{
    font-family: 'Times New Roman', Times, serif;

    background-image:url(../IMG/fondo-pagina.jpeg);
}
/*Aqui se tendra al formulario de la cuenta*/

.form-registro{
    width: 400px;
    background-color: rgb(36, 105, 175);
    padding: 30px;
    margin:auto;
    border-radius: 25px;
    
}
input{
    margin: auto;
    padding: auto;
}
button{
    margin: auto;
    padding: auto;
}




