
*{
    margin: 0%;
    padding: 0%;

}
.Encabezado{
    display: flex;
    justify-content: space-around;
    background-color:aqua;
    align-items:center ;
    padding: 10px;
    text-align: center;
    height: 150px;

}
.contenido{
    min-height: calc(100vh - 150px - 200px);
}

.elementos :hover{
    color: yellowgreen;
}

input .buscador{
   
    display: flex;
   justify-content: space-around;
   width: 700px;

}
h1{
    margin-right: 50px; 
}

a {
    text-decoration: none;
    padding-right: 10px;
    color: black;
}
.elementos ul{
    list-style: none;
}
 .elementos ul li {
    display: inline-block;
    align-items: center;
    margin-top: 6px;
  
 }
.barralateral{
    background-color: aquamarine;
    text-align: center; 
    margin: 0px 0px;
   
}
body{
    font-family: 'Times New Roman', Times, serif;

    background-image:url(../IMG/fondo-pagina.jpeg);
}
/*Aqui se tendra al formulario de la cuenta*/

.form-registro{
    width: 400px;
    background-color: rgb(36, 105, 175);
    padding: 30px;
    margin:auto;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.form-registro input{
    border-radius: 50px;
}
/*Aqui finaliza*/


input{
    margin: auto;
    padding: auto;
}
button{
    margin: auto;
    padding: auto;
}
footer{
    background-color: aqua;
    margin:  0px;
    height: 200px;

}

/*Aqui se trendra el inicio de sesion del ususario*/

.inicio-sesion{
    width: 400px;
    background-color: rgb(36, 105, 175);
    padding: 30px;
    margin: auto;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inicio-sesion input{
    border-radius: 50px;
}
.oferta{
    background-color: aqua;
    margin: 25px;
    width: 200px;
    text-align: center;
    border: 3px solid black;
  
  
    
   
}
.contenido h2{
    text-align: center;
}
.contenido{
    display: grid;
    grid-template-columns: 50% 50% ;
    
}
/*Aqui finaliza*/



