.Encabezado{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    align-items:center ;
    padding: 10px;

}
h1{
    margin-right: 50px;
    
}

input{
    margin-right: 50px;
}

a {
    text-decoration: none;
    padding-right: 10px;
    color: black;
}

.Elementos ul{
    list-style: none;
}
 .Elementos ul li {
    display: inline-block;
    align-items: center;
 }



body{
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
}
